
<div class="sticky-nav">
  <div class="logo-nav-wrap">
    <div class="container">
      <div class="logo">
        <a
        href="#"
        [attr.aria-label]="'Relx Logo'"
        routerLink="/"
        >
          <img src="assets/logo-v2.png?h=49&amp;iar=0&amp;w=191" alt="Relx" width="191" height="49">
        </a>
      </div>
      <div class="assesment">
        <h2>Rajkumar Manoharan</h2>
        <div class="d-flex">
          <span class="d-flex">Assessment</span>
          <a href="javascript:void()" (click)="openDialog()">ReadMe</a>
        </div>
      </div>
    </div>
  </div>
</div>
