<h2 mat-dialog-title>Assessment Work Details.</h2>
<mat-dialog-content>
    <p>Thanks for giving this opportunity for doing this exercise. I mentioned done for the section I completed. While developing, 
        I am facing one issue while calling the API call, I am getting CORS error. API call is always failing, BE not returning data.  
        Then I managed to get the API by disabling security options in chrome. If the cors error happening, 
        Please run the below command in the terminal, that's the Mac terminal command. chrome browser will open from the terminal. Access the page from the browser 
        opened from terminal. If you will make a video call, I will show a demo from my laptop.</p>
    <p><b>open -na Google\ Chrome --args --user-data-dir=/tmp/temporary-chrome-profile-dir --disable-web-security</b></p>
    <p><b>Criteria</b></p>
    <p>A user can search for a company by name or company number
        <br/>
        <span class="red">Done</span>
    </p>
    <p>The result of the search is displayed
        <br/>
        <span class="red">Done</span>
    </p>
    <p>The user can click on any company to view its details
        <br/>
        <span class="red">Done</span>
    </p>
    <p><b>Optional</b></p>
    <p>Use Material Design or Bootstrap for styling
        <br/>
        <span class="red">Done - Bootstrap flex classes used</span>
    </p>
    <p>Provide input validation
        <br/>
        <span class="red">Done</span>
    </p>
      <p>
        <img src="assets/cors-error.png?h=600&amp;iar=0&amp;w=1200" alt="Relx" width="1200" height="600">
    </p>
    <p>
        <img src="assets/cors-error-1.png?h=300&amp;iar=0&amp;w=800" alt="Relx" width="800" height="300">
    </p>
</mat-dialog-content>
